$font-stack:    Helvetica, sans-serif;

$primary-backgrund-color: #ffffff;
$primary-color: #909399;

$title-color: rgb(64, 158, 255);

$link-color: #409EFF;

$secondary-backgrund-color: #1976d2;
$secondary-color: rgb(209, 209, 209);